<h1>New product_category</h1>

<% form_for(@product_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_id %><br />
	<%=	
		@products = Product.find(:all, :order => "name")
		f.collection_select(:id, @products, :id, :name)
	 %>
  </p>
  <p>
    <%= f.label :category_id %><br />
	<%=	
		@categories = Category.find(:all, :order => "name")
		f.collection_select(:id, @categories, :id, :name)
	 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', product_categories_path %>